<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputStartTime">Date</label>
      <input
        type="text"
        class="form-control"
        id="inputStartTime"
        placeholder="Start time"
        value="{{ appointment.startTime }}"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputDuration">Duration</label>
      <input
        type="text"
        class="form-control"
        id="inputDuration"
        placeholder="Duration"
        value="{{ duration }}"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputPFirstName">Patient: first name</label>
      <input
        type="text"
        class="form-control"
        id="inputPFirstName"
        placeholder="Pesel"
        value="{{ appointment.patientFirstName }}"
      />
    </div>
  </div>

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" />
      <label class="form-check-label" for="gridCheck"> Accept rodo </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
