<div class="card my-1 p-4">
  <div class="d-flex">
    <div>
      <h2 *ngIf="currentRole == 'OPTOMETRIST'">
        Appointments management for
        {{ appointments[1].optometristFirstName }}
        {{ appointments[1].optometristLastName }}
      </h2>

      <h2 *ngIf="currentRole == 'RECEPTIONIST' || currentRole == 'ADMIN'">
        All appointments for all patients
      </h2>
      <h2 *ngIf="currentRole == 'PATIENT'">
        Appointments for patient:
        {{ currentUserName }}
      </h2>
    </div>

    <button class="btn btn-outline-success" routerLink="new-appointment">
      Add new
    </button>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Duration</th>
        <th>Patient</th>
        <th>Status</th>
        <th>Type of appointment</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let tempAppointment of appointments">
      <tr>
        <td>{{ tempAppointment.date }}</td>
        <td>{{ tempAppointment.slot }}:00</td>
        <td>1h</td>
        <td>
          {{ tempAppointment.patientFirstName }}
          {{ tempAppointment.patientLastName }}
        </td>

        <td>{{ tempAppointment.status }}</td>
        <td>{{ tempAppointment.workName }}</td>

        <td>
          <div
            class="btn-group"
            role="group"
            aria-label="Basic outlined example"
          >
            <button
              *ngIf="currentRole == 'OPTOMETRIST'"
              type="button"
              routerLink="/appointments/{{ tempAppointment.id }}/card"
              class="btn btn-outline-primary"
            >
              Start
            </button>
            <button
              (click)="onCancel(tempAppointment)"
              type="button"
              class="btn btn-outline-danger"
            >
              Cancel
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div
    *ngIf="appointments?.length == 0"
    class="alert alert-warning col-md-12"
    role="alert"
  >
    No appointments found
  </div>

  <div class="pagination">
    <div class="row">
      <div class="col-md-6">
        <!-- <ngb-pagination
          [(page)]="thePageNumber"
          [pageSize]="thePageSize"
          [collectionSize]="theTotalElements"
          (pageChange)="listAppointments()"
        >
        </ngb-pagination> -->
      </div>
    </div>
  </div>
</div>
