<div class="card my-1 col-9">
  <h3 class="mb-4 fw-normal text-center">
    Patient:<b> {{ patient.firstName }} {{ patient.lastName }} </b>, pesel:
    <b> {{ patient.pesel }}</b> age: <b>{{ patientAge }}</b>
  </h3>
  <div class="container-fluid text-start">
    <div class="row justify-content-center mt-3">
      <div class="col-12">
        <!--User form group-->
        <form
          [formGroup]="appointmentCartFormGroup"
          (submit)="saveAppointmentCard()"
        >
          <div formGroupName="interview" class="form-area">
            <h3 class="text-start text-muted">Interview</h3>
            <div class="row mb-2">
              <b>Appointment reason</b>

              <div
                class="col-3 mt-1 mb-1 form-group form-check form-check-inline"
                *ngFor="
                  let control of availableAppointmentReasonsArray.controls;
                  let i = index
                "
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  [formControl]="$any(control)"
                  id="inlineCheckbox{{ i }}"
                />
                <label class="form-check-label" for="inlineCheckbox{{ i }}">{{
                  availableAppointmentReasons[i].name
                }}</label>
              </div>

              <div class="col-11">
                <input
                  class="form-control form-group form-control-sm"
                  placeholder="write other appointment reason"
                  formControlName="otherAppointmentReason"
                  type="text"
                />
              </div>
            </div>

            <div class="row mb-4">
              <div class="col-3">
                <b> Eye diseases:</b>
                <div>
                  <input
                    class="form-control form-group form-control-sm"
                    placeholder="write other"
                    formControlName="otherEyeDisease"
                    type="text"
                  />
                </div>
                <div
                  class="form-group form-check mb-1 mt-1"
                  *ngFor="
                    let control of availableEyeDiseasesArray.controls;
                    let i = index
                  "
                >
                  <input
                    class="form-check-input"
                    [formControl]="$any(control)"
                    type="checkbox"
                    id="inlineCheckbox{{ i }}"
                  />

                  <label class="form-check-label" for="inlineCheckbox{{ i }}">{{
                    availableEyeDiseases[i].name
                  }}</label>
                </div>
              </div>
              <div class="col-4">
                <b> General diseases:</b>
                <div>
                  <input
                    class="form-control form-control-sm"
                    placeholder="write other"
                    formControlName="otherGeneralDisease"
                    type="text"
                  />
                </div>
                <div
                  class="form-group form-check mb-1 mt-1"
                  *ngFor="
                    let control of availableGeneralDiseasesArray.controls;
                    let i = index
                  "
                >
                  <input
                    class="form-check-input"
                    [formControl]="$any(control)"
                    type="checkbox"
                    id="inlineCheckbox{{ i }}"
                  />
                  <label class="form-check-label" for="inlineCheckbox{{ i }}">
                    {{ availableGeneralDiseases[i].name }}
                  </label>
                </div>
              </div>
              <div class="col-4">
                <b> Vision condition:</b>
                <div>
                  <input
                    class="form-control form-control-sm"
                    placeholder="write other"
                    formControlName="otherVisionConditions"
                    type="text"
                  />
                </div>
                <div
                  *ngFor="
                    let control of availableVisionConditionsArray.controls;
                    let i = index
                  "
                >
                  <input
                    class="form-check-input"
                    [formControl]="$any(control)"
                    type="checkbox"
                    id="inlineCheckbox{{ i }}"
                  />
                  <label class="form-check-label" for="inlineCheckbox{{ i }}">{{
                    availableVisonConditions[i].name
                  }}</label>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-12">
                <textarea
                  class="form-control form-control-sm"
                  placeholder="other notes, comments"
                  formControlName="otherNotes"
                  rows="4"
                ></textarea>
              </div>
            </div>
          </div>

          <!-- refraction-->
          <!--current glasses correction-->
          <div formGroupName="currentCorrection" class="form-area">
            <h3 class="text-start text-muted">Current correction</h3>
            <b>Current glasses correction</b>
            <div class="row mb-2">
              <div class="col-12">
                <div class="row">
                  <div class="col-1">
                    <button (click)="onPlusMinusClick($event.target)">+</button>
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="right eye sphere"
                      formControlName="rightEyeSphereCurrent"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="cylinder right eye"
                      formControlName="cylinderRightEyeCurrent"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="axis"
                      formControlName="axisRightEyeCurrent"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="add"
                      formControlName="addRightEyeCurrent"
                      type="text"
                    />
                  </div>
                  <div class="col-1">
                    <input
                      class="form-control form-control-sm"
                      placeholder="Vcc"
                      formControlName="VccRightEyeCurrent"
                      type="text"
                    />
                  </div>
                  <div class="col-1">
                    <input
                      class="form-control form-control-sm"
                      placeholder="Vsc"
                      formControlName="VscRightEyeCurrent"
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-12">
                <div class="row">
                  <div class="col-1">
                    <button (click)="onPlusMinusClick($event.target)">+</button>
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="left eye sphere"
                      formControlName="leftEyeSphereCurrent"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="cylinder left eye"
                      formControlName="cylinderLeftEyeCurrent"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="axis"
                      formControlName="axisLeftEyeCurrent"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="add"
                      formControlName="addLeftEyeCurrent"
                      type="text"
                    />
                  </div>
                  <div class="col-1">
                    <input
                      class="form-control form-control-sm"
                      placeholder="Vcc"
                      formControlName="VccLeftEyeCurrent"
                      type="text"
                    />
                  </div>
                  <div class="col-1">
                    <input
                      class="form-control form-control-sm"
                      placeholder="Vsc"
                      formControlName="VscLeftEyeCurrent"
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!--END current glasses correction-->
          </div>
          <div formGroupName="newCorrection" class="form-area">
            <h3 class="text-start text-muted">New correction</h3>
            <!--new glasses correction-->
            <b>New glasses correction</b>
            <button
              (click)="onCopyCurrent()"
              class="btn btn-sm btn-outline-success"
            >
              Copy current
            </button>
            <div class="row mb-2 mt-1">
              <div class="col-12">
                <div class="row">
                  <div class="col-1">
                    <button (click)="onPlusMinusClick($event.target)">+</button>
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="right eye sphere"
                      formControlName="rightEyeSphereNew"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="cylinder right eye"
                      formControlName="cylinderRightEyeNew"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="axis"
                      formControlName="axisRightEyeNew"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="add"
                      formControlName="addRightEyeNew"
                      type="text"
                    />
                  </div>
                  <div class="col-1">
                    <input
                      class="form-control form-control-sm"
                      placeholder="Vcc"
                      formControlName="VccRightEyeNew"
                      type="text"
                    />
                  </div>
                  <div class="col-1">
                    <input
                      class="form-control form-control-sm"
                      placeholder="Vsc"
                      formControlName="VscRightEyeNew"
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-12">
                <div class="row">
                  <div class="col-1">
                    <button (click)="onPlusMinusClick($event.target)">+</button>
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="left eye sphere"
                      formControlName="leftEyeSphereNew"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="cylinder eye"
                      formControlName="cylinderLeftEyeNew"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="axis"
                      formControlName="axisLeftEyeNew"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="add"
                      formControlName="addLeftEyeNew"
                      type="text"
                    />
                  </div>
                  <div class="col-1">
                    <input
                      class="form-control form-control-sm"
                      placeholder="Vcc"
                      formControlName="VccLeftEyeNew"
                      type="text"
                    />
                  </div>
                  <div class="col-1">
                    <input
                      class="form-control form-control-sm"
                      placeholder="Vsc"
                      formControlName="VscLeftEyeNew"
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!--END new glasses correction-->

            <div class="row mb-4">
              <div class="col-12">
                <textarea
                  class="form-control form-control-sm"
                  placeholder="other notes, comments"
                  formControlName="otherNewCorrectionComments"
                  rows="4"
                ></textarea>
              </div>
            </div>

            <div>
              <div>
                <input
                  type="checkbox"
                  (change)="onAddContactLensesCorrectionCheckbox()"
                />
                Add contact lenses correction
              </div>
            </div>
          </div>

          <div formGroupName="contactLensesCorrection" class="form-area">
            <h3 class="text-start text-muted">Contact lenses correction</h3>
            <!--Contact lenses correction-->
            <b>Contact lenses correction</b>
            <div class="row">
              <div class="col-3">
                <button class="btn btn-sm btn-outline-success">
                  Auto calculate for vertex distance
                </button>
              </div>
              <div class="col-2">
                <input
                  class="form-control form-control-sm"
                  placeholder="vertex distance"
                  formControlName="vertexDistance"
                  type="text"
                />
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-12">
                <div class="row">
                  <div class="col-1">
                    <button (click)="onPlusMinusClick($event.target)">+</button>
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="right eye sphere"
                      formControlName="rightEyeSphereLenses"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="cylinder right eye"
                      formControlName="cylinderRightEyeLenses"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="axis"
                      formControlName="axisRightEyeLenses"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="add"
                      formControlName="addRightEyeLenses"
                      type="text"
                    />
                  </div>
                  <div class="col-1">
                    <input
                      class="form-control form-control-sm"
                      placeholder="Vcc"
                      formControlName="VccRightEyeLenses"
                      type="text"
                    />
                  </div>
                  <div class="col-1">
                    <input
                      class="form-control form-control-sm"
                      placeholder="Vsc"
                      formControlName="VscRightEyeLenses"
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-12">
                <div class="row">
                  <div class="col-1">
                    <button (click)="onPlusMinusClick($event.target)">+</button>
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="left eye sphere"
                      formControlName="leftEyeSphereLenses"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="cylinder left eye"
                      formControlName="cylinderLeftEyeLenses"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="axis"
                      formControlName="axisLeftEyeLenses"
                      type="text"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="form-control form-control-sm"
                      placeholder="add"
                      formControlName="addLeftEyeLenses"
                      type="text"
                    />
                  </div>
                  <div class="col-1">
                    <input
                      class="form-control form-control-sm"
                      placeholder="Vcc"
                      formControlName="VccLeftEyeLenses"
                      type="text"
                    />
                  </div>
                  <div class="col-1">
                    <input
                      class="form-control form-control-sm"
                      placeholder="Vsc"
                      formControlName="VscLeftEyeLenses"
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </div>

            <!--End Contact lenses correction-->

            <div ngbDropdown class="d-inline-block">
              <button
                type="button"
                class="btn btn-outline-primary"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                Acuvue oasys, monthly, dk/t:150
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button
                  *ngFor="let lense of availableContactLenses"
                  ngbDropdownItem
                  routerLink="/home"
                >
                  {{ lense.name }}, {{ lense.mode }}
                  {{ lense.oxygenPermeability }}
                </button>
              </div>
            </div>
          </div>

          <div class="text-center">
            <button
              class="btn btn-sm btn-outline-success col-3 mx-1"
              type="submit"
            >
              Save
            </button>
            <button
              class="btn btn-sm btn-primary col-3 mx-1"
              type="submit"
              routerLink="/users"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
