<div class="container-fluid">
  <!-- Top Nav -->

  <app-top-bar *ngIf="authenticationService.isLoggedIn$ | async"></app-top-bar>

  <!-- End Top Nav   -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-1">
        <!-- Menu side nav -->

        <app-vertical-nav-bar
          *ngIf="authenticationService.isLoggedIn$ | async"
        ></app-vertical-nav-bar>

        <!-- END Menu side nav -->
      </div>
      <div class="col-11 mt-5">
        <!-- <app-search></app-search> -->
        <!--Main -->
        <router-outlet></router-outlet>
        <!--End Main -->
      </div>
    </div>
  </div>
</div>
